# ---- Python ----
__pycache__/
*.pyc
*.pyo
*.pyd

# ---- Virtual env ----
.venv/
venv/
env/

# ---- Config & secrets ----
.env
*.sqlite3
instance/

# ---- Logs ----
*.log

# ---- IDE / OS files ----
.vscode/
.idea/
.DS_Store
Thumbs.db
